<div>above</div>
<script type="text/javascript" src="http://www.munimoyobamba.gob.pe/smartengine/bit4id-sign.min.js"></script>
<div>below</div>
<div style="height:600px">
    <form class="bit4id-sign" action="4identity/Signing" method="post">

    <div class="bit4id-signReq" style="display: none;">

        <div class="bit4id-localFile">YES</div>
        <div class="bit4id-document">http://localhost:81/pdfs/ejemplo.pdf</div>
        <div class="bit4id-preview">YES</div>

        <div class="bit4id-documentName">TEST PDF DOCUMENT.pdf</div>
        <div class="bit4id-signatureType">PAdES</div>
        <div class="bit4id-signingAlgorithm">RSASHA256</div>
        <div class="bit4id-certInfo">CN</div>
    </div>

    <div>
        <fieldset>
            <div><h3>Document Signature</h3></div>
            <div><p><strong>Proceeding the document TestData.pdf will be signed, are you sure?</strong></p></div>
            <div id="bit4id-status"></div>
            <div><input type="submit" value="Sign Document" name="cmd" disabled></div>
        </fieldset>
    </div>
    </form>

</div>


<router-outlet></router-outlet>
